
@import '../../../styles/vars';
#app {
    color: #333;
    background-color: #fff;
    width: 100%;
    height: 100%;
    .page-layout {
        height: 100%;
        .pusher {
            height: 100%;
            overflow: scroll;
        }
        .pushable > .dimmer {
            cursor: pointer;
        }
        main {
            display: flex;
            flex-direction: column;
            min-height: 100%;
        }
        .ui.visible.thin.left.sidebar ~ .pusher {
            @include respond-to('lg') {
                max-width: calc(100% - #{$sidebar-size})
            }
            @include respond-to('only-sm', 'only-md', 'xs'){
                overflow: hidden;
            }
        }
        .main-content {
            display: flex;
            flex-grow: 1;
            padding-top: 100px;
            padding-left: 1rem;
            padding-right: 1rem;
            .ui.container {
                @include respond-to('xs') {
                    // margin - just to fill exmpty space
                    margin: 0 auto!important;
                }
                @include respond-to('sm', 'xs') {
                    width: 100%!important;
                }
                .grid {
                    position: relative;
                    min-width: 100%;
                    min-height: 100%;
                }
            }
        }
    }
}

.mt-10 {
    margin-top: 10px;
}

.mt-5 {
    margin-top: 5px;
}

.mb-30 {
    margin-bottom: 30px;
}

.header-title {
    font-size: 1rem;
    font-weight: 700;
    color: rgba(0,0,0,.87);
}
