.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .pane-tab {
    > .ui.attached.segment {
      border: none;
    }
  }
  
  .view-container {
    min-height: 77vh;
    margin-top: 4em;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .flex-container {
    display: flex;
  
    .qtr-fold {
      width: 30%;
    }
  
    .qtr-fold-inv {
      width: 70%;
    }
  
    .half-fold {
      width: 50%;
    }
  }
  
  .filter-box {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .ml-10 {
    margin-left: 10px;
  }
  
  .mr-10 {
    margin-right: 10px;
  }
  
  .mr-20 {
    margin-right: 20px;
  }
  
  .mb-5 {
    margin-bottom: 5px;
  }
  
  .small-font {
    font-size: 12px;
  }
  
  .bold-font {
    font-size: 14px;
    font-weight: bold;
  }
    